audiosegment
ffmpeg-python
flask
gunicorn
librosa
numpy==1.22
pandas
pdfplumber
pylab-sdk
python_speech_features
pyyaml
redis
six
simpletransformers
scipy
spacy
torch
https://ltdata1.informatik.uni-hamburg.de/pykaldi/pykaldi-0.2.2-cp39-cp39-linux_x86_64.whl
git+https://github.com/bmilde/rpunct

